# Don't touch this first line with three dashes.
--- 
# Modify these to suit your enviroment.
database: rtg
pass: password
host: dbhost
user: username

# What interval to aggregate measurements in?
# We will use one of the `averaging_intervals` to generate
# as close to `desired_datapoints` datapoints as possible.
# I.e. a one hour view will use 60 second averages, while
# a one day view will use 300 second averages.
desired_datapoints: 350
averaging_intervals:
 - 60
 - 120
 - 300
 - 600
 - 900
 - 1800
 - 3600
 - 7200
 - 10800
